header.app-header {
    > div h1 {
        font: 40px 'HeirofLight Bold', serif;
        padding: 50px 0;
    }

    > nav {
        text-align: center;
        padding-bottom: 20px;

        ul {
            list-style-type: none;
            display: flex;
            width: 50%;
            margin: 0 auto;
            padding: 0;

            li {
                flex: 1;
                font: 18px 'HeirofLight Bold';

                a {
                    padding: 10px 45px;
                    cursor: pointer;
                    transition: background-color 0.2s, color 0.2s;
                }

                &:hover a {
                    background-color: #2d2d2d;
                    color: white;
                }
            }
        }
    }
}
