footer.app-footer {
    background-color: black;
    color: white;
    padding: 50px;

    h5 {
        position: relative;
        top: -5px;
        display: inline-block;
        font-size: 14px;
        margin: auto 0;
    }

    svg:nth-child(2) {
        margin-left: 10%;
    }

    svg:not(:nth-child(2)) {
        margin-left: 10px;
    }
}
