section.about {
    margin: 150px 0;

    > div {
        &.content {
            display: flex;

            > div {
                &:first-child {
                    flex: 5;
                    display: table;

                    > div {
                        display: table-cell;
                        vertical-align: middle;

                        table {
                            width: 600px;
                            margin: 0 50px 0 auto;

                            td {
                                font-size: 18px;
                                text-align: left;
                                padding: 10px 20px;

                                &:nth-child(3) {
                                    width: 120px;

                                    svg {
                                        margin: 0 5px;
                                    }

                                    button {
                                        margin: 5px 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    flex: 4;
                    text-align: left;
                    width: 100%;
                }
            }
        }

        &.comment {
            padding: 50px calc(50% - 600px) 10px calc(50% - 600px);

            > h2 {
                text-align: left;
                margin-bottom: 50px;
            }

            div.comment-block {
                position: relative;
                margin-bottom: 100px;

                > div {
                    &:nth-child(1) {
                        span {
                            &.hr-circle {
                                position: relative;
                                top: -17px;
                                display: inline-block;
                                background-color: transparent;
                                width: 8px;
                                height: 8px;
                                border: 1px solid #a5a5a5;
                                border-radius: 10px;
                                margin: 0 5px;
                            }

                            &.hr-line {
                                position: relative;
                                top: -20.5px;
                                display: inline-block;
                                background-color: transparent;
                                width: calc(100% - 106px);
                                height: 0.5px;
                                border-top: 1px solid #a5a5a5;
                            }

                            &.comment-date {
                                position: absolute;
                                top: -10px;
                                right: 50px;
                                font-size: 12px;
                                color: #a5a5a5;
                            }
                        }
                    }

                    &:nth-child(2) {
                        position: relative;
                        left: 70px;
                        text-align: left;
                        width: calc(100% - 106px);

                        &.secret {
                            color: #808080;
                        }

                        input[type=text] {
                            font: 16px 'HeirofLight Regular';
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #a5a5a5;
                            padding: 10px 0;
                        }
                    }

                    &:nth-child(3) {
                        text-align: right;
                        padding: 10px 40px 0 0;

                        input[type=button] {
                            font-size: 13px;
                            margin-left: 20px;
                        }
                    }
                }
            }

            input[type=button] {
                float: right;
                font: 18px 'HeirofLight Bold';
                background-color: black;
                color: white;
                border: none;
                padding: 8px 30px;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #575757;
                }

                &:active {
                    background-color: #373737;
                }
            }
        }
    }

    &.admin > div {
        &.content {
            display: flex;

            > div {
                &:first-child {

                    > div {

                        table > tbody > tr {
                            td {
                                input[type=text] {
                                    font: 15px 'HeirofLight Regular';
                                    border: none;
                                    border-bottom: 1px solid #a5a5a5;
                                }

                                h4 {
                                    font-weight: normal;
                                }

                                textarea {
                                    font: 15px 'HeirofLight Regular';
                                    width: 430px;
                                    height: 200px;
                                }

                                &:last-child {
                                    svg {
                                        width: 20px;
                                        cursor: pointer;
                                        transition: color 0.15s ease;

                                        &:hover {
                                            color: #898989;
                                        }

                                        &:active {
                                            color: #4e4e4e;
                                        }
                                    }
                                }
                            }

                            &:last-child td {
                                text-align: center;
                            }
                        }
                    }
                }

                &:last-child {
                }
            }
        }
    }
}

.dark-mode section.about > div:last-child {
    input {
        &[type=text] {
            background-color: transparent;
            color: #a7a9bf;
        }

        &[type=button] {
            background-color: #8c90ac;
            color: #1c1e2a;

            &:hover {
                background-color: #a7a9bf;
                color: #333647;
            }

            &:active {
                background-color: #6d7290;
                color: #171a24;
            }
        }
    }
}

@import "~react-datepicker/src/stylesheets/datepicker";

.react-datepicker__tab-loop {
    position: relative;

    .react-datepicker {
        position: relative;
        z-index: 99;
    }
}

@media screen and (max-width: 1120px) {
    section.about {
        margin: 75px 0;

        > div {
            &.content {
                display: block !important;
                width: 100%;

                > div {
                    display: block;

                    &:first-child {
                        margin: 0 auto !important;
                        padding: 10px;

                        img {
                            width: calc(100% - 50px);
                            height: auto;
                        }
                    }

                    &:last-child {
                        table {
                            width: 100% !important;
                            margin: 0 auto !important;

                            tbody tr {
                                td {
                                    font-size: 13px;
                                    width: calc(50% - 60px);
                                    padding: 5px;

                                    &:first-child {
                                        width: 130px !important;
                                    }

                                    &:nth-child(3) {
                                        width: 70px;

                                        svg {
                                            width: 15px;
                                            height: 15px;
                                            margin: 0 5px;
                                            cursor: pointer;
                                            transition: color .15s ease;

                                            &:hover {
                                                color: #898989;
                                            }

                                            &:active {
                                                color: #4e4e4e;
                                            }
                                        }

                                        button {
                                            margin: 3px 0;
                                        }
                                    }

                                    input {
                                        width: 100%;
                                    }
                                }

                                &:last-child td {
                                    text-align: center;
                                    padding: 30px;

                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        transition: color .15s ease;

                                        &:hover {
                                            color: #898989;
                                        }

                                        &:active {
                                            color: #4e4e4e;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.comment {
                padding: 50px 15px;

                > h2 {
                    font-size: 18px;
                }

                div.comment-block {
                    margin-bottom: 50px;

                    > div {
                        &:first-child {
                            svg {
                                width: 30px !important;
                            }

                            span.hr-circle {
                                top: -11px;
                            }

                            span.hr-line {
                                top: -14px;
                            }

                            span.comment-date {
                                font-size: 10px;
                            }
                        }

                        &:last-child {
                            font-size: 13px;
                        }
                    }
                }

                > input[type=button] {
                    font-size: 14px;
                }
            }
        }
    }
}
