section.contact {
    display: flex;
    margin: 210px 0;

    > div {
        &:first-child {
            flex: 5;
            display: table;

            > div {
                display: table-cell;
                vertical-align: middle;

                table {
                    width: 520px;
                    margin: 0 100px 0 auto;

                    td {
                        font-size: 18px;
                        text-align: left;
                        padding: 30px 20px;

                        input {
                            width: 100%;
                        }

                        &:last-child {
                            width: 200px;
                        }
                    }
                }
            }
        }

        &:last-child {
            flex: 4;
            display: table;
            text-align: left;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    section.contact {
        margin: 150px 0;

        > div {
            flex: 1 !important;
            width: 50% !important;

            &:first-child {
                table {
                    width: calc(100% - 50px) !important;
                    margin: 0 auto !important;

                    tbody td {
                        font-size: 13px;
                        width: 50%;
                        padding: 10px 0;
                    }
                }
            }

            &:last-child {
                padding-right: 20px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
