@font-face {
	src: url("../assets/fonts/HeirofLightBold.ttf") format("truetype");
	font-family: "HeirofLight Bold";
}

@font-face {
	src: url("../assets/fonts/HeirofLightRegular.ttf") format("truetype");
	font-family: "HeirofLight Regular";
}
