@font-face {
    src: url('../assets/fonts/BrushScriptOpti-Regular.otf') format('opentype');
    font-family: 'Brush Script MT';
}

@font-face {
    src: url('../assets/fonts/HeirofLightBold.ttf') format('truetype');
    font-family: 'HeirofLight Bold';
}

@font-face {
    src: url('../assets/fonts/HeirofLightRegular.ttf') format('truetype');
    font-family: 'HeirofLight Regular';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'HeirofLight Regular', serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
}

html {
    overflow-y: hidden;
}

body {
    a {
        outline: none;
        color: black;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    input, select, textarea {
        outline: none;
    }

    * {
        box-sizing: border-box;
    }

    .scroll {
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 13px;
            height: 13px;
            cursor: pointer;
            background-color: transparent;
        }
        &::-webkit-scrollbar-corner {
            display: none;
        }
        &::-webkit-scrollbar-thumb {
            background: {
                color: #bdbdbd;
                clip: padding-box;
            };
            border: {
                width: 4px;
                style: solid;
                color: transparent;
                radius: 20px;
            }
            cursor: pointer;
            -webkit-transition: background-color 0.5s;
        }
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .text-no-drag {
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .font-smoothing {
        transform: rotate(0.03deg);
    }

    span.font-smoothing {
        display: inline-block;
        transform: rotate(0.03deg);
    }

    article.title {
        h4 {
            display: inline-block;
            margin-right: 10px;
        }
    }

    header.app-header {
        position: relative;

        div.dark-mode-btn {
            position: absolute;
            right: 0;
            display: inline-block;
            font-family: 'HeirofLight Bold', serif;
            margin: 10px;
            z-index: 9998;

            > span {
                position: relative;
                top: -6px;
                margin-right: 7px;
            }

            > div {
                display: inline-block;
                width: 50px;
                height: 25px;
                border: 2px solid black;
                border-radius: 15px;
                padding: 2px;

                > span {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    background-color: black;
                    width: 19px;
                    height: 19px;
                    border-radius: 30px;
                    cursor: pointer;
                    transition: transform 0.5s;
                }
            }
        }

        > div h1 {
            display: inline-block;
            font: 40px 'Brush Script MT', serif;
            padding: 50px 0;
            cursor: pointer;
        }

        > nav {
            text-align: center;
            padding-bottom: 20px;

            ul {
                list-style-type: none;
                display: flex;
                width: 1060px;
                margin: 0 auto;
                padding: 0;

                li {
                    flex: 1;
                    font: 18px 'HeirofLight Bold';

                    h4 {
                        display: inline;
                        padding: 10px 45px;
                        cursor: pointer;
                        transition: background-color 0.2s, color 0.2s;
                    }

                    &:hover h4,
                    &.on h4 {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }

        > div.mobile-nav {
            position: fixed;
            top: 0;
            height: 100%;
            z-index: 999;

            > div {
                &.side-menu {
                    position: absolute;
                    top: 0;
                    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.53));
                    width: 200px;
                    height: 100%;
                    animation-duration: 0.3s;

                    > nav ul {
                        list-style-type: none;
                        margin: 100px 0 0 0;
                        padding: 0;

                        li {
                            font: 18px 'HeirofLight Bold';
                            margin: 40px 0;

                            h4 {
                                display: inline;
                                padding: 10px 45px;
                                cursor: pointer;
                                transition: background-color 0.2s, color 0.2s;
                            }

                            &:hover h4,
                            &.on h4 {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }

                &.menu-btn {
                    position: absolute;
                    margin: 10px 0 0 10px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    z-index: 9999;

                    > span {
                        position: absolute;
                        left: 0;
                        display: inline-block;
                        background-color: black;
                        width: 30px;
                        height: 5px;
                        transition: transform 0.3s, width 0.3s, height 0.3s;

                        &:nth-child(1) {
                            top: 0;
                        }

                        &:nth-child(2) {
                            top: 10px;
                        }

                        &:nth-child(3) {
                            top: 20px;
                        }
                    }

                    &.on span {
                        &:nth-child(1) {
                            width: 35px;
                            transform: rotate(45deg) translateX(5px) translateY(9px);
                        }

                        &:nth-child(2) {
                            height: 0;
                        }

                        &:nth-child(3) {
                            width: 35px;
                            transform: rotate(-45deg) translateX(5px) translateY(-9px);
                        }
                    }
                }
            }
        }
    }

    footer.app-footer {
        background-color: black;
        color: white;
        padding: 50px;

        > div {
            position: relative;
            top: -10px;
            display: inline-block;
            font: 9px 'HeirofLight Regular';
            font-size: 14px;
            margin: auto 0;
        }

        a {
            color: white;
            width: 30px;
            height: 30px;

            svg {
                width: 30px;
            }

            &:nth-child(2) {
                margin-left: 10%;
            }
            &:not(:nth-child(2)) {
                margin-left: 10px;
            }
        }

        table {
            margin: 0 auto;

            input[type=text] {
                width: 350px;
            }

            svg {
                cursor: pointer;

                &[data-icon=minus-circle] {
                    width: 16px;
                }

                &[data-icon=plus] {
                    width: 20px;
                }
            }
        }
    }

    .light-mode {
        background-color: white;
        color: black;
        transition: background-color 0.5s;
    }

    .dark-mode {
        background-color: #1c1e2a;
        color: #ced4da;
        transition: background-color 0.5s;

        .app-header {
            div.dark-mode-btn > div {
                border-color: #ced4da;

                span {
                    background-color: #ced4da;
                }
            }

            ul li {
                &:hover h4,
                &.on h4 {
                    background-color: #8c90ac;
                    color: #1c1e2a;
                }
            }

            div.mobile-nav {
                > div.side-menu {
                    background: linear-gradient(to right, #454b66, rgba(69, 75, 102, 0.58)) !important;

                    > nav ul li {
                        &:hover h4,
                        &.on h4 {
                            background-color: #ced4da !important;
                            color: #1c1e2a !important;
                        }
                    }
                }

                div.menu-btn span {
                    background-color: #ced4da;
                }
            }
        }

        .app-footer {
            background-color: #636a93;
            color: #1c1e2a;

            > div {
                font-family: 'HeirofLight Bold', serif;
            }

            a svg {
                color: #1c1e2a;
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    footer.app-footer {
        padding: 30px 20px !important;

        > div {
            font-size: 7px !important;
        }
    }
}

@import "home";
@import "about";
@import "movies";
@import "drama";
@import "scene";
@import "theater";
@import "contact";
@import "content_edit";
@import "scene_todo_list";
@import "video_modal";
@import "~animate.css";
