section.theater {
    div.year-block {
        width: 1000px;
        margin: 10px auto 50px auto;
        padding: 15px 0;

        > div {
            &:first-child {
                text-align: left;

                h2 {
                    display: inline-block;
                    margin-right: 10px;
                }

                span {
                    &.hr-circle {
                        position: relative;
                        top: -5px;
                        display: inline-block;
                        background-color: transparent;
                        width: 8px;
                        height: 8px;
                        border: 1px solid #a5a5a5;
                        border-radius: 10px;
                        margin: 0 5px;
                    }

                    &.hr-line {
                        position: relative;
                        top: -8.5px;
                        display: inline-block;
                        background-color: transparent;
                        width: calc(100% - 106px);
                        height: 0.5px;
                        border-top: 1px solid #a5a5a5;
                    }
                }
            }

            &:last-child > div.theater-block {
                margin: 10px 30px 100px;

                > div {
                    position: relative;
                    text-align: left;

                    > input[type=button].video-btn {
                        position: absolute;
                        right: 0;
                        font: 18px 'HeirofLight Bold';
                        background-color: black;
                        color: white;
                        border: 1px solid black;
                        padding: 5px 20px;
                        cursor: pointer;
                        transition: background-color 0.15s, color 0.15s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }

                        &:active {
                            background-color: #dedede;
                            color: black;
                        }
                    }

                    h3 {
                        margin: 7px 0;
                    }

                    ul {
                        list-style-type: none;
                        margin: 15px 0;
                        padding: 0;
                    }

                    &.scenes {
                        display: block;
                        height: 150px;
                        margin-top: 50px;

                        > div {
                            display: table;
                            width: 100%;
                            height: 100%;

                            > div {
                                display: table-cell;
                                vertical-align: middle;

                                svg {
                                    width: 20px;
                                    cursor: pointer;
                                    transition: color 0.15s;

                                    &:hover {
                                        color: #585858;
                                    }

                                    &:active {
                                        color: #323232;
                                    }

                                    &.disable {
                                        color: #a5a5a5;
                                        cursor: default;
                                    }
                                }

                                &:first-child,
                                &:last-child {
                                    width: 20px;
                                }

                                &:first-child {
                                    padding-right: 10px;
                                }

                                &:last-child {
                                    padding-left: 10px;
                                }
                            }

                            ul {
                                display: flex;
                                list-style-type: none;
                                width: 880px;
                                height: 100% !important;
                                margin: 0;
                                padding: 0;
                                overflow: hidden;
                                white-space: nowrap;

                                li {
                                    display: inline-block;
                                    vertical-align: middle;
                                    text-align: center;
                                    width: 176px;
                                    margin: auto 0;

                                    img {
                                        margin: auto 5px;
                                        cursor: pointer;
                                        transition: filter 0.3s;

                                        &:hover {
                                            filter: brightness(60%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark-mode section.theater div.year-block div.theater-block .scenes svg {
    color: #8c90ac;

    &:hover {
        color: white !important;
    }

    &:active {
        color: #686c82 !important;
    }

    &.disable {
        color: #3f435c !important;
    }
}

@media screen and (max-width: 1120px){
    section.theater div.year-block {
        width: 100%;
        padding: 0 20px;

        h2 {
            font-size: 18px;
        }

        .hr-line {
            width: calc(100% - 100px) !important;
        }

        div.theater-block {
            margin: 10px 15px 60px !important;

            img {
                width: 100%;
                height: auto;
            }

            > div {
                h3 {
                    font-size: 14px;
                }

                div, ul li {
                    font-size: 12px;
                }

                &.scenes {
                    height: auto !important;
                    margin-top: 25px !important;

                    svg {
                        width: 15px !important;
                    }

                    ul {
                        width: 100% !important;

                        li {
                            width: calc(100% / 3) !important;

                            img {
                            }
                        }
                    }
                }
            }
        }
    }
}
